@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0 ;
    font-family: "Poppins", sans-serif;
}

/*ham burger*/
.ham{
    display: none;
}
header {
    background-color: #e93729;
    color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    letter-spacing: 3px;
    font-family: "Srisakdi", system-ui;
    gap: 10px;
    
}

header img {
    width: 50px;
    padding-left: 20px;
}

.log {
    padding: 30px;
}

.log button {
    color: #e93729;
    padding: 10px;
    width: 90px;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.sign {
    background-color: #e93729;
}
.sign a{
    color: #fbfbfb;
    text-decoration: none;

}

.sign a:hover, .login a:hover {
    color: black;
}

.login a, #on-page a{
    color:#e93729;
    text-decoration: none;
}

.content { /*everything after header*/
    display: flex;
}

/*navigation rules*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgba(217, 217, 217, 0.15);
    font-size: 16px;
  
    
}

.services, .partner { /*the ul*/
    list-style: none;
    border-bottom: 2px solid rgba(217, 217, 217, 0.15);
    padding: 15px 20px;

}
.services li a, .partner li a{
    height: 50px;
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #e93729;
    font-size: 14px;
    font-weight: 500;

}

.partner {
    padding-top: 38px;
}
.partner li a{
       border: 2px #e93729 solid;
}


.services a:hover, .partner a:hover, #on-page a:hover {
    color: #fbfbfb;
    background-color: rgba(249, 115, 22);
    border-color: rgb(249, 115, 22);
}

.services img {
    width: 17px;
} 
.services a {
    display: flex;
    justify-content: center;
    gap:10px;
}

#on-page a{
    color: #fbfbfb;
    border-radius: 30px;
}

#on-page a{
    background-color: #e93729;
}

/*form rules*/
.register h2{
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d926;
    border-radius: 25px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    gap: 10px;
}

label { 
    border-bottom: 2px solid rgba(217, 217, 217, 0.15);
    padding: 15px;
    border-radius: 3px;

}

input[type="submit"]{
    border-radius: 25px;
    width: 250px;
    height: 50px;
    background-color:#e93729;
    color:#fbfbfb;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

input{
    background-color: #a8a4a426;
    width: 300px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    text-indent: 5%;
    border-bottom: 1px solid #92929279;
}

.formparent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    overflow: hidden;
}