@media(max-width: 1023px) and (min-width: 768px)
{

header img {
    width: 40px;
    height: 40px;
}

h1{
    font-size: 35px;
}

.log {
    padding: 22px;
}

.log button {
    padding: 7px;
    width: 75px;
    font-size: 11px;
    font-weight: 600;
}
nav {
    width: 150px;
}
.services, .partner { /*the ul*/
    padding: 15px 10px;
}
.services li, .partner li  {
    height: 40px;
    width: 120px;
    margin-bottom: 15px;
}

.partner {
    padding-top: 25px;
}

.services a, .partner a {
    font-size: 13px;
    font-weight: 500;
}

.services img {
    width: 14px;
} 
.services a {
    gap:10px;
}
.jumbotron {
    height: 250px;
}

.jumbotron h2 {
    font-size: 18px;
}
 .jumbotron p {
    font-size: 12px;
 }

 .container {
    height: 80%;
    justify-content: space-around;
 }

 .overlay {
    padding: 0 20px;
 }

.jumbotron a {
    width: 80px;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
 }

}