@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0 ;
    font-size: 16px;
}
header {
    background-color: #e93729;
    color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Srisakdi", system-ui;
}

header img {
    width: 50px;
}

.log {
    padding: 30px;
}

.log button {
    color: #e93729;
    padding: 10px;
    width: 90px;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
}
a{
    font-size: 15px;
}
.sign {
    background-color: #e93729;
}
.sign a{
    color: #fbfbfb;
    text-decoration: none;

   }
.sign button {
    background-color: #e93729;
}

.login a{
    color:#e93729;
    text-decoration: none;
}
