@media(max-width: 767px)
{

header img {
    width: 30px;
    height: 30px;
}

.ham{
    display: inline;
    width: 30px;
}

h1{
    font-size: 25px;
}

.log {
    padding: 15px;
}

.log button {
    padding: 5px;
    width: 60px;
    font-size: 11px;
    font-weight: 600;
}

nav{
    display: none;
}
}