/*Cart specific styles*/

/* .content {
    display: inline-block;
} */

.cart-h2{
    text-align: center;
    margin: 15px auto;
    font-size: 1.8rem;
}

.food-cell {
    width: 85%;
    background-color: #fbfbfb;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 5px 1px 5px 1px rgba(0,0,0,0.39);
    border: 2px solid #afaeae26;
    position: relative; /*for the x*/
    padding: 20px;
}
.x {
    position: absolute;
    right: 5px;
    top: 1px;
}


.cart-box > div {
    margin: 2rem;
}
