
.wikiHome {
    align-items: center;
}

/*each card is restaurant, clicking on it takes you to the restaurant page*/
.wikiCards {
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    gap: 25px;
    background: var(--clr-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: 1200px;
}
.wikiIntro h2 {
    text-align: center;
}

/* intro with a text description */
.wikiIntro {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    height: auto;
    min-height: 140px;
    text-align:left;
    align-items: center;
    width: 90%;
    overflow: hidden;
    color: var(--clr-text-primary);
    border-radius: 25px;
    border: solid 1px #acacac2f;
    justify-content: center;
    box-shadow: var(--shadow);
}

.wikiCards ul {
    list-style: none;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 30px auto;
}

/*each wiki card list item */
.wikiCards li {
    flex: 0 1 250px;
    aspect-ratio: 1 / 1;
    text-align: center;
    align-items: center;
    overflow: hidden;
    color: var(--clr-primary);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}
.wikiCards li:hover {
    border: solid 1px var(--clr-primary);
}
.wikiCards i{
    color: var(--clr-primary);
    margin: 10px;
    margin-bottom: 15px;
}

.wikiCards a {
    text-decoration: none;
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wikiCards h4 {
    margin: 5px 0;
}

.wikiCards p {
    font-size: 0.9rem;
    margin: 0;
}

.wiki-btn {
    text-decoration: none;
    color: var(--clr-primary);
}